

<form method="post" action="dwndc3.php">
  Repository MongoDB PHAIDRA dc<br>

  <input type="text" name="codice">inserisci la descrizione dell'oggetto<br>
  <input type="submit" value="Invia Modulo">
</form>


