<form method="post" action="http://testcab.openview.it/richiestareperto2.php">
  <br>Tipo di reperto ricercato</br>
  <input type="text" name="nome">Tipologia di reperto<br>
   <input type="submit" value="Invia">
</form>