


<form action="http://testcab.openview.it/richiestareperto.php" id="nome">
  <br>Tipo di reperto ricercato</br>
  
 
  
  <select name="nome" form="nome">
  <option value="zoologia">zoologia</option>
  <option value="antropologia">antropologia<option>
  
</select>
  
  
  
  
  
  
  
   <input type="submit" value="Invia">
</form>