

<form method="post" action="insertmusei_mongodb.php">
  Sei l'operatore di un museo ? Inserisci qui la descrizione del reperto<br>
  <input type="text" name="museo">Museo<br>
  <input type="text" name="tiporeperto">inserisci la descrizione dell'oggetto<br>
  <input type="text" name="numerocatalogo">inserisci la descrizione dell'oggetto<br>
  <input type="submit" value="Invia Modulo">
</form>


