<table>

<td>
<form method="post" action="queryphaidra.php">
  <br>Inserisci il PID </br>
  <input type="text" name="identificativo"> pid <br>
   <input type="submit" value="Invia">
</form>
</td>
</table>

