

<form method="post" action="dwndc.php">
  Repository MongoDB PHAIDRA dc<br>
  <input type="text" name="codice">inserisci il codice PiD<br>
  <input type="text" name="descrizione">inserisci la descrizione dell'oggetto<br>
  <input type="submit" value="Invia Modulo">
</form>


