<html>
   
    <link href="style.css" rel="stylesheet" />

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>


<div id="main" ng-app>


	<nav class="{{active}}" ng-click="$event.preventDefault()">

	<a href="#" class="home" ng-click="active='inserimento DC di phaidra'">
		
		

<form method="post" action="repertiphaidra.php">
  <br>Inserisci il PiD in mongoDB</br>
   <input type="text" name="identificativo"> PiD <br>
  <input type="text" name="phaidradc"> PiD <br>
 
  
   <input type="submit" value="Invia">
</form>

		
		</a>
		<a href="#" class="projects" ng-click="active='richiesta DC di phaidra'"><form method="post" action="queryphaidra.php">
  <br>Inserisci PID per cercare in mongoDB  </br>
  <input type="text" name="identificativo">  <br>
   <input type="submit" value="Invia">
</form></a>
		<a href="#" class="services" ng-click="active=''"></a>
		<a href="#" class="contact" ng-click="active=''"></a>
	</nav>



	<p ng-hide="active">Seleziona la modalita'</p>
	<p ng-show="active"<b>{{active}}</b></p>
</div>

</html>