<table>

<form method="post" action="queryphaidra.php">
  <br>Inserisci il pid</br>
  <input type="text" name="identificativo">Insericsci il pid<br>
   <input type="submit" value="Invia">
</form>
</td>
</table>

