<table>
<td>
<form method="post" action="repertiphaidra.php">
  <br></br>
   <input type="text" name="identificativo"> PiD <br>
  <input type="text" name="phaidradc"> PiD <br>
 
  
   <input type="submit" value="Invia">
</form>


</td>
<td>
<form method="post" action="queryphaidra.php">
  <br>Inserisci il tuo nome per cercare i tuoi reperti </br>
  <input type="text" name="identificativo"> nomeutente <br>
   <input type="submit" value="Invia">
</form>
</td>
</table>

