<form method="post" action="repertiphaidra.php">
  <br></br>
   <input type="text" name="identificativo"> PiD <br>
  <input type="text" name="phaidradc"> PiD <br>
 
  
   <input type="submit" value="Invia">
</form>

